{% extends 'base.html' %}

{% block content %}

   
 
<h1 class="producttitle">About BAMS</h1> 
    <div class="card text-bg-dark">
        <img src="{{ url_for('static', filename='soloman.jpeg')}}" class="aboutuspic">

        <div class="card-img-overlay">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
<br>
<br>
          <p class="about-text">We first started BAMS to complete an assignment. <br><br>That is why we created this page.
            So we would not fail.
<br><br>
            During our journey, we discovered group projects are hard and so is looping through dictionaries
            with Flask.
<br><br>
            We strive to turn this in on time and hope you can see all the effort we put into this.</p>
  
        </div>
      </div>
      {% endblock %}