{% extends 'base.html' %}

{% block content %}



<div class="card" style="width: 18rem;">
    <img src="{{exer.img_url}}" class="card-img-top" alt="{{exer.name}}">
    <div class="card-body">
        <h5 class="card-title">{{exer.title}}-- (A {{exer.desc}} {{exer.category}} {{exer.rating}})</h5>
        <!-- Grabbed subtitle text from another card here for author -->
        <h4>Price: ${{exer.price}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ exer.desc }} miles</h6>
        <p class="card-text">{{exer.desc}}</p>
        <!--  -->
        <a href="{{ url_for('search.updateExer', exer_id=exer.id) }}" class="btn btn-primary">Update</a>
        <!-- <a href="#" class="btn btn-danger">Delete</a> -->

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Delete Exercise</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this exercise?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <!--  -->
                        <a href="{{ url_for('search.delExer', exer_id=exer.id) }}" type="button"
                            class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

</div>



{% endblock %}