{% extends 'base.html' %}

{% block content %}

<h3> Here's the Search!</h3>
<div class="container">
  <div class="row justify-content-center mt-3 mb-3">
    <div class="col-3 p-3">
      <a href="{{ url_for('search.createExer') }}" class="btn btn-outline-dark">Create New Exercise</a>
    </div>
  </div>



    {% for e in exer %}

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
        <a href="{{url_for('search.indExer', exer_id=e.id)}}"><img src="{{e.img_url}}" class="card-img-top"
            alt="{{e.name}}"></a>
        <div class="card-body">
          <h5 class="card-title">{{e.title}} {{e.desc}} {{e.category}}</h5>
          <!-- Grabbed subtitle text from another card here for author -->
          <h4>Price: ${{ e.price }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Special name? {{ e.title }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Miles: {{e.rating}}</h6>
          <p class="card-text">{{e.desc}}</p>
          <p><small>Posted: {{ e.date_created }}</small></p>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}


</div>
{% endblock %}